<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- build:process -->
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= pathFavicon %>" />
    <!-- /build -->
    <!-- build:section layout.meta --><!-- /build -->
    <!-- start: MAIN CSS -->
    <!-- build:style googleFonts --><!-- /build -->
    <!-- build:style bundle --><!-- /build -->
    <!-- build:style main --><!-- /build -->
    <!-- build:style mainResponsive --><!-- /build -->
    <!-- build:style print [media="print"] --><!-- /build -->
    <!-- build:style theme.light [id="skin_color"] --><!-- /build -->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->

</head>
<body>

    <!-- build:section layout.header --><!-- /build -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <!-- build:section layout.navbar --><!-- /build -->
        <!-- start: PAGE -->
        <div class="main-content">
            <!-- build:section layout.panelConfiguration --><!-- /build -->
            <div class="container">
                <!-- start: PAGE HEADER -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- build:section layout.styleSelector --><!-- /build -->
                        <!-- start: PAGE TITLE & BREADCRUMB -->
                        <ol class="breadcrumb">
                            <li>
                                <i class="clip-file"></i>
                                <a href="#">
                                    Pages
                                </a>
                            </li>
                            <li class="active">
                                Blank Page
                            </li>
                            <li class="search-box">
                                <form class="sidebar-search">
                                    <div class="form-group">
                                        <input type="text" placeholder="Start Searching...">
                                        <button class="submit">
                                            <i class="clip-search-3"></i>
                                        </button>
                                    </div>
                                </form>
                            </li>
                        </ol>
                        <div class="page-header">
                            <h1>Blank Page <small>blank page</small></h1>
                        </div>
                        <!-- end: PAGE TITLE & BREADCRUMB -->
                    </div>
                </div>
                <!-- end: PAGE HEADER -->
                <!-- start: PAGE CONTENT -->
                Page Content
                <!-- end: PAGE CONTENT-->
            </div>
        </div>
        <!-- end: PAGE -->
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- build:section layout.footer --><!-- /build -->
    <!-- build:section layout.sidebar --><!-- /build -->



    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
                <script src="../../bower_components/respond/dest/respond.min.js"></script>
                <script src="../../bower_components/Flot/excanvas.min.js"></script>
                <script src="../../bower_components/jquery-1.x/dist/jquery.min.js"></script>
                <![endif]-->
    <!--[if gte IE 9]><!-->
    <!-- build:script resurces.jQuery --><!-- /build -->
    <!--<![endif]-->
    <!-- build:script bundle --><!-- /build -->
    <!-- build:script main --><!-- /build -->
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

    <script>
        jQuery(document).ready(function () {
            Main.init();
        });
    </script>

</body>
</html>
