<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- build:process -->
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= pathFavicon %>" />
    <!-- /build -->
    <!-- build:section layout.meta --><!-- /build -->
    <!-- start: MAIN CSS -->
    <!-- build:style googleFonts --><!-- /build -->
    <!-- build:style bundle --><!-- /build -->
    <!-- build:style main --><!-- /build -->
    <!-- build:style mainResponsive --><!-- /build -->
    <!-- build:style print [media="print"] --><!-- /build -->
    <!-- build:style theme.light [id="skin_color"] --><!-- /build -->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="../../bower_components/ion.rangeslider/css/normalize.css" rel="stylesheet" />
    <link href="../../bower_components/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" />
    <link href="../../bower_components/ion.rangeslider/css/ion.rangeSlider.skinHTML5.css" rel="stylesheet" />
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->



</head>
<body>

    <!-- build:section layout.header --><!-- /build -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <!-- build:section layout.navbar --><!-- /build -->
        <!-- start: PAGE -->
        <div class="main-content">
            <!-- build:section layout.panelConfiguration --><!-- /build -->
            <div class="container">
                <!-- start: PAGE HEADER -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- build:section layout.styleSelector --><!-- /build -->
                        <!-- start: PAGE TITLE & BREADCRUMB -->
                        <ol class="breadcrumb">
                            <li>
                                <i class="clip-cog-2"></i>
                                <a href="#">
                                    UI Lab
                                </a>
                            </li>
                            <li class="active">
                                Sliders
                            </li>
                            <li class="search-box">
                                <form class="sidebar-search">
                                    <div class="form-group">
                                        <input type="text" placeholder="Start Searching...">
                                        <button class="submit">
                                            <i class="clip-search-3"></i>
                                        </button>
                                    </div>
                                </form>
                            </li>
                        </ol>
                        <div class="page-header">
                            <h1>Sliders <small>a powerful plugins for selecting value ranges</small></h1>
                        </div>
                        <!-- end: PAGE TITLE & BREADCRUMB -->
                    </div>
                </div>
                <!-- end: PAGE HEADER -->
                <!-- start: PAGE CONTENT -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- start: RANGE SLIDERS PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-external-link-square"></i>
                                Range Sliders
                                <div class="panel-tools">
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>
                                    <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-refresh" href="#">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                        <i class="fa fa-resize-full"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    A powerful slider for selecting value ranges, supporting dates and more.
                                </div>
                                <table class="table sliders table-striped">
                                    <tbody>
                                        <tr>
                                            <td style="width:15%">Basic</td>
                                            <td>
                                                <div class="example">
                                                    <input type="text" id="slider_example_1" name="slider_example_1" value="" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>The grid</td>
                                            <td>
                                                <div class="example">
                                                    <input type="text" id="slider_example_3" name="slider_example_3" value="" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Grid width predifined step</td>
                                            <td>
                                                <div class="example">
                                                    <input type="text" id="slider_example_4" name="slider_example_4" value="" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Movement limits</td>
                                            <td>
                                                <div class="example">
                                                    <input type="text" id="slider_example_5" name="slider_example_5" value="" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Working with dates and time, using <b>moment.js</b></td>
                                            <td>
                                                <div class="example">
                                                    <div id="slider_example_6" class="slider-teal"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end: RANGE SLIDERS PANEL -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- start: CIRCLE DIALS PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-external-link-square"></i>
                                Circle Dials
                                <div class="panel-tools">
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>
                                    <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-refresh" href="#">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                        <i class="fa fa-resize-full"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-info">
                                            Nice, downward compatible, touchable, jQuery dial
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>&#215; Disable display input</h4>
                                        <input class="knob" data-width="100" data-displayinput=false value="35">
                                    </div>
                                    <div class="col-md-4">
                                        <h4>&#215; 'cursor' mode</h4>
                                        <input class="knob" data-width="150" data-cursor=true data-fgcolor="#222222" data-thickness=.3 value="29">
                                    </div>
                                    <div class="col-md-4">
                                        <h4>&#215; Display previous value</h4>
                                        <input class="knob" data-width="200" data-min="-100" data-displayprevious=true value="44">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>&#215; Angle offset</h4>
                                        <input class="knob" data-angleoffset=90 data-linecap=round value="35">
                                    </div>
                                    <div class="col-md-4">
                                        <h4>&#215; Angle offset and arc</h4>
                                        <input class="knob" data-angleoffset=-125 data-anglearc=250 data-fgcolor="#66EE66" value="35">
                                    </div>
                                    <div class="col-md-4">
                                        <h4>&#215; 5-digit values, step 1000</h4>
                                        <input class="knob" data-min="-15000" data-displayprevious=true data-max="15000" data-step="1000" value="-11000">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end: CIRCLE DIALS PANEL -->
                    </div>
                </div>
                <!-- end: PAGE CONTENT-->
            </div>
        </div>
        <!-- end: PAGE -->
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- build:section layout.footer --><!-- /build -->
    <!-- build:section layout.sidebar --><!-- /build -->
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
            <script src="../../bower_components/respond/dest/respond.min.js"></script>
            <script src="../../bower_components/Flot/excanvas.min.js"></script>
            <script src="../../bower_components/jquery-1.x/dist/jquery.min.js"></script>
            <![endif]-->
    <!--[if gte IE 9]><!-->
    <!-- build:script resurces.jQuery --><!-- /build -->
    <!--<![endif]-->
    <!-- build:script bundle --><!-- /build -->
    <!-- build:script main --><!-- /build -->
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="../../bower_components/moment/min/moment-with-locales.min.js"></script>
    <script src="../../bower_components/ion.rangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="../../bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <script src="assets/js/min/ui-sliders.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

    <script>
        jQuery(document).ready(function () {
            Main.init();
            UISliders.init();
        });
    </script>

</body>
</html>
