<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <!-- build:process -->
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= pathFavicon %>" />
    <!-- /build -->
    <!-- build:section layout.meta --><!-- /build -->
    <!-- start: MAIN CSS -->
    <!-- build:style googleFonts --><!-- /build -->
    <!-- build:style bundle --><!-- /build -->
    <!-- build:style main --><!-- /build -->
    <!-- build:style mainResponsive --><!-- /build -->
    <!-- build:style print [media="print"] --><!-- /build -->
    <!-- build:style theme.light [id="skin_color"] --><!-- /build -->
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->

</head>
<body>

    <!-- build:section layout.header --><!-- /build -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <!-- build:section layout.navbar --><!-- /build -->
        <!-- start: PAGE -->
        <div class="main-content">
            <!-- build:section layout.panelConfiguration --><!-- /build -->
            <div class="container">
                <!-- start: PAGE HEADER -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- build:section layout.styleSelector --><!-- /build -->
                        <!-- start: PAGE TITLE & BREADCRUMB -->
                        <ol class="breadcrumb">
                            <li>
                                <i class="clip-cog-2"></i>
                                <a href="#">
                                    UI Lab
                                </a>
                            </li>
                            <li class="active">
                                Tabs &amp; Accordions
                            </li>
                            <li class="search-box">
                                <form class="sidebar-search">
                                    <div class="form-group">
                                        <input type="text" placeholder="Start Searching...">
                                        <button class="submit">
                                            <i class="clip-search-3"></i>
                                        </button>
                                    </div>
                                </form>
                            </li>
                        </ol>
                        <div class="page-header">
                            <h1>Tabs &amp; Accordions <small>common tabs &amp; accordion</small></h1>
                        </div>
                        <!-- end: PAGE TITLE & BREADCRUMB -->
                    </div>
                </div>
                <!-- end: PAGE HEADER -->
                <!-- start: PAGE CONTENT -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- start: PANLEL TABS -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-reorder"></i>
                                Panel Tabs
                            </div>
                            <div class="panel-body">
                                <div class="tabbable panel-tabs">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a data-toggle="tab" href="#panel_tab_example1">
                                                Tab 1
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#panel_tab_example2">
                                                Tab 2
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#panel_tab_example3">
                                                Tab 3
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="panel_tab_example1" class="tab-pane active">
                                            <p>
                                                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.
                                            </p>
                                            <div class="alert alert-warning">
                                                <p>
                                                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                                                </p>
                                                <p>
                                                    Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                                                </p>
                                                <p>
                                                    <a class="btn btn-red show-tab" href="#panel_tab_example2">
                                                        Go to tab 2
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                        <div id="panel_tab_example2" class="tab-pane">
                                            <p>
                                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
                                            </p>
                                            <p>
                                                <a target="_blank" href="ui_tabs_accordions.html?tabId=panel_tab_example2" class="btn btn-purple">
                                                    Activate this tab via URL
                                                </a>
                                            </p>
                                        </div>
                                        <div id="panel_tab_example3" class="tab-pane">
                                            <p>
                                                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                            </p>
                                            <p>
                                                <a target="_blank" href="ui_tabs_accordions.html?tabId=panel_tab_example3" class="btn btn-blue">
                                                    Activate this tab via URL
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end: PANLEL TABS -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- start: INLINE TABS PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-reorder"></i>
                                Inline Tabs
                                <div class="panel-tools">
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>
                                    <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-refresh" href="#">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                        <i class="fa fa-resize-full"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="tabbable">
                                            <ul id="myTab" class="nav nav-tabs tab-bricky">
                                                <li class="active">
                                                    <a href="#panel_tab2_example1" data-toggle="tab">
                                                        <i class="green fa fa-home"></i> Tab 1
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#panel_tab2_example2" data-toggle="tab">
                                                        Tab 2 <span class="badge badge-danger">4</span>
                                                    </a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                        Dropdown &nbsp; <i class="fa fa-caret-down width-auto"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-info">
                                                        <li>
                                                            <a href="#panel_tab2_example3" data-toggle="tab">
                                                                Dropdown 1
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#panel_tab2_example4" data-toggle="tab">
                                                                Dropdown 2
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane in active" id="panel_tab2_example1">
                                                    <p>
                                                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.
                                                    </p>
                                                    <div class="alert alert-info">
                                                        <p>
                                                            Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                                                        </p>
                                                        <p>
                                                            <a href="#panel_tab2_example2" class="btn btn-teal show-tab">
                                                                Go to tab 2
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="panel_tab2_example2">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
                                                    </p>
                                                    <p>
                                                        <a href="#panel_tab2_example3" class="btn btn-red show-tab">
                                                            Go to Dropdown 1
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="tab-pane" id="panel_tab2_example3">
                                                    <p>
                                                        Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.
                                                    </p>
                                                    <p>
                                                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                                                    </p>
                                                    <p>
                                                        <a href="#panel_tab2_example4" class="btn btn-purple show-tab">
                                                            Go to Dropdown 2
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="tab-pane" id="panel_tab2_example4">
                                                    <p>
                                                        Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.
                                                    </p>
                                                    <p>
                                                        <a href="#panel_tab2_example1" class="btn btn-purple show-tab">
                                                            Return to tab 1
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="tabbable">
                                            <ul id="myTab4" class="nav nav-tabs tab-padding tab-space-3 tab-blue">
                                                <li class="active">
                                                    <a href="#panel_tab3_example1" data-toggle="tab">
                                                        Tab 1
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#panel_tab3_example2" data-toggle="tab">
                                                        Tab 2
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#panel_tab3_example3" data-toggle="tab">
                                                        Tab 3
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane in active" id="panel_tab3_example1">
                                                    <p>
                                                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                                                    </p>
                                                    <p>
                                                        Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                                                    </p>
                                                </div>
                                                <div class="tab-pane" id="panel_tab3_example2">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
                                                    </p>
                                                    <p>
                                                        <a href="#panel_tab3_example3" class="btn btn-blue show-tab">
                                                            Go to tab 3
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="tab-pane" id="panel_tab3_example3">
                                                    <p>
                                                        Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.
                                                    </p>
                                                    <p>
                                                        <a href="#panel_tab3_example1" class="btn btn-purple show-tab">
                                                            Return to tab 1
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="tabbable tabs-left">
                                            <ul id="myTab3" class="nav nav-tabs tab-green">
                                                <li class="active">
                                                    <a href="#panel_tab4_example1" data-toggle="tab">
                                                        <i class="pink fa fa-dashboard"></i> Tab 1
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="#panel_tab4_example2" data-toggle="tab">
                                                        <i class="blue fa fa-user"></i> Tab 2
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="#panel_tab4_example3" data-toggle="tab">
                                                        <i class="fa fa-rocket"></i> Tab 3
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="panel_tab4_example1">
                                                    <p>
                                                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                                                    </p>
                                                    <p>
                                                        Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                                                    </p>
                                                </div>
                                                <div class="tab-pane" id="panel_tab4_example2">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
                                                    </p>
                                                    <p>
                                                        <a href="#panel_tab4_example3" class="btn btn-green show-tab">
                                                            Go to tab 3
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="tab-pane" id="panel_tab4_example3">
                                                    <p>
                                                        Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.
                                                    </p>
                                                    <p>
                                                        <a href="#panel_tab4_example1" class="btn btn-purple show-tab">
                                                            Return to tab 1
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="tabbable tabs-below">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="panel_tab5_example1">
                                                    <p>
                                                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                                                    </p>
                                                    <p>
                                                        Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
                                                    </p>
                                                </div>
                                                <div class="tab-pane" id="panel_tab5_example2">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
                                                    </p>
                                                    <p>
                                                        <a href="#panel_tab5_example3" class="btn btn-yellow show-tab">
                                                            Go to tab 3
                                                        </a>
                                                    </p>
                                                </div>
                                                <div class="tab-pane" id="panel_tab5_example3">
                                                    <p>
                                                        Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.
                                                    </p>
                                                    <p>
                                                        <a href="#panel_tab5_example1" class="btn btn-purple show-tab">
                                                            Return to tab 1
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                            <ul id="myTab2" class="nav nav-tabs tab-purple">
                                                <li class="active">
                                                    <a href="#panel_tab5_example1" data-toggle="tab">
                                                        Tab 1
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="#panel_tab5_example2" data-toggle="tab">
                                                        Tab 2
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="#panel_tab5_example3" data-toggle="tab">
                                                        Tab 3
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end: INLINE TABS PANEL -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- start: ACCORDION PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-reorder"></i>
                                Accordions
                                <div class="panel-tools">
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>
                                    <a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-refresh" href="#">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                        <i class="fa fa-resize-full"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="panel-group accordion-custom accordion-teal" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                    <i class="icon-arrow"></i>
                                                    Collapsible Group Item #1
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                    <i class="icon-arrow"></i>
                                                    Collapsible Group Item #2
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                    <i class="icon-arrow"></i>
                                                    Collapsible Group Item #3
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end: ACCORDION PANEL -->
                    </div>
                </div>
                <!-- end: PAGE CONTENT-->
            </div>
        </div>
        <!-- end: PAGE -->
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- build:section layout.footer --><!-- /build -->
    <!-- build:section layout.sidebar --><!-- /build -->
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
             <script src="../../bower_components/respond/dest/respond.min.js"></script>
             <script src="../../bower_components/Flot/excanvas.min.js"></script>
             <script src="../../bower_components/jquery-1.x/dist/jquery.min.js"></script>
             <![endif]-->

    <!--[if gte IE 9]><!-->
    <!-- build:script resurces.jQuery --><!-- /build -->
    <!--<![endif]-->
    <!-- build:script bundle --><!-- /build -->
    <!-- build:script main --><!-- /build -->
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

    <script>
        jQuery(document).ready(function () {
            Main.init();
        });
    </script>

</body>
</html>
