/* ---------------------------------------------------------------------- */
/*	Accordion
/* ---------------------------------------------------------------------- */
.accordion-custom {
    .panel {
        background-color: $white;
        border: none;
        border-radius: 0 0 0 0;
        box-shadow: none;
    }

    .panel-heading {
        padding: 0;
        background-image: none;
        height: auto;
        box-shadow: none;
        border-radius: 0;

        .accordion-toggle {
            background-color: #cccccc;
            color: #606060;
            display: block;
            font-size: 13px;
            font-weight: bold;
            line-height: 1;
            padding: 10px;
            position: relative;

            &.collapsed {
                background-color: #F3F3F3;
                border-color: #D9D9D9;
                border-width: 0 0 0 1px;
                color: #606060;
                font-weight: normal;

                & > .icon-arrow {
                    opacity: 0.75;

                    &:before {
                        content: "\f054" !important;
                    }
                }
            }

            &:hover, &:focus {
                text-decoration: none;
            }

            & > .icon-arrow {
                font-size: 11px;
                padding: 0 5px;

                &:before {
                    content: "\f078";
                }
            }
        }
    }

    .panel-body {
        border: none !important;
    }
}


.accordion-teal {
    .panel-heading {
        .accordion-toggle {
            background: #F3F7F8;
            border-left: 2px solid #569099;
            color: #437278;

            &.collapsed {
                background: #F3F7F8;
                border-left: none;
            }
        }
    }
}