/* ---------------------------------------------------------------------- */
/*	Panel Tools
/* ---------------------------------------------------------------------- */
.panel-tools {
    position: absolute;
    right: 5px;
    top: 8px;

    .btn-link {
        color: #0480BE;

        &:hover {
            color: #036392;
        }
    }

    .btn-link {
        color: #57A957;

        &:hover {
            color: #417E41;
        }
    }

    .btn-link {
        color: #C43C35;

        &:hover {
            color: #972E28;
        }
    }

    .btn-link {
        color: $dark-grey;

        &:hover {
            color: #000000;
        }
    }

    .btn-link {
        &:focus, &:hover, &:active {
            text-decoration: none;
            outline: 0 !important;
        }
    }

    .btn {
        border-style: none;

        &.expand {
            &:before {
                content: "\f077";
                display: inline;
                float: right;
                font-family: $fontFontAwesome;
                font-weight: 300;
                height: auto;
                text-shadow: none;
            }
        }

        &.collapses {
            &:before {
                content: "\f078";
                display: inline;
                float: right;
                font-family: $fontFontAwesome;
                font-weight: 300;
                height: auto;
                text-shadow: none;
            }
        }
    }

    .btn-link {
        color: #666666;

        &:hover {
            color: $dark-grey;
        }
    }
}

/* ---------------------------------------------------------------------- */
/*	Panels and panel elements
/* ---------------------------------------------------------------------- */
.panel-heading {
    background-color: #F5F4F9 !important;
    //@include background-image(linear-gradient(to bottom, #F5F4F9 0%, #ECEAF3 100%));
    background-repeat: repeat-x;
    border-bottom: 1px solid #CDCDCD;
    @include border-radius(6px 6px 0 0);
    @include box-shadow(0 1px 0 $white inset);
    height: 36px;
    padding-left: 40px;
    position: relative;

    & > [class^="fa-"], & > [class*=" fa-"], & > [class^="icon-"], & > [class*=" icon-"], & > [class^="clip-"], & > [class*=" clip-"] {
        border-right: 1px solid #CDCDCD;
        @include box-shadow(1px 0 0 0 $white);
        opacity: 0.7;
        padding: 12px 10px 8px;
        position: absolute;
        left: 0;
        top: 0;
        height: 36px;
    }
}

.panel-white {
    box-shadow: none;

    .panel-heading {
        background-color: $white;
        background-image: none;
        border-bottom: 1px solid #CDCDCD;
        @include border-radius(6px 6px 0 0);
        @include box-shadow(none);
        height: 36px;
        padding-left: 40px;
        position: relative;

        & > [class^="fa-"], & > [class*=" fa-"], & > [class^="icon-"], & > [class*=" icon-"], & > [class^="clip-"], & > [class*=" clip-"] {
            border-right: 1px solid #CDCDCD;
            @include box-shadow(none);
            opacity: 0.7;
            padding: 12px 10px 8px;
            position: absolute;
            left: 0;
            top: 0;
            height: 36px;
        }
    }
}

.panel-box {
    background: #FAFAFA;
    border: 1px solid #CDCDCD;
    @include border-radius(6px);
    @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
    clear: both;
    margin-bottom: 16px;
    margin-top: 16px;
    position: relative;
}

.panel {
    &.panel-full-screen {
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9998;
    }
}

.panel-scroll {
    position: relative;
    margin: 10px;
    padding: 0px;
    width: auto;
    height: 400px;
    overflow: hidden;
}
