/* ---------------------------------------------------------------------- */
/*	Dropdown elements
/* ---------------------------------------------------------------------- */
.dropdown-checkboxes {
    padding: 5px;

    label {
        display: block;
        font-weight: normal;
        line-height: 20px;
    }
}
