/* ---------------------------------------------------------------------- */
/*	Login
/* ---------------------------------------------------------------------- */
body {
    &.login {
        &.rtl {
            a {
                &.forgot {
                    right: auto;
                    left: 10px;
                }
            }
        }

        input {
            &.password {
                padding-left: 130px;
                padding-right: 25px;
            }
        }
    }
}
