/* ---------------------------------------------------------------------- */
/*	Sidebar
/* ---------------------------------------------------------------------- */

#page-sidebar {
    left: -270px;
    right: initial;
    @include transition(left 0.3s ease 0s);
    border-right: 1px solid #c8c7cc;
}