/* ---------------------------------------------------------------------- */
/*	ToDo List
/* ---------------------------------------------------------------------- */
body {
    &.rtl {
        .todo {
            li {
                .label {
                    right: auto;
                    left: 10px;
                }

                a {
                    padding: 10px 35px 10px 10px !important;
                }

                .todo-actions {
                    i {
                        margin: 0 0 0 5px;
                        right: 10px;
                        left: auto;
                    }
                }
            }
        }
    }
}
