/* ---------------------------------------------------------------------- */
/*	Dropdown elements
/* ---------------------------------------------------------------------- */
body {
    &.rtl {
        .dropdown-menu {
            right: auto;
            left: 0;
        }
    }
}
/* ---------------------------------------------------------------------- */
/*	Labels and Badges
/* ---------------------------------------------------------------------- */
body {
    &.rtl {
        .label {
            display: inline-block;
        }
    }
}
/* ---------------------------------------------------------------------- */
/*	Progress bar
/* ---------------------------------------------------------------------- */
body {
    &.rtl {
        .progress-bar {
            float: right;
        }
    }
}
