@media (min-width: 1300px) {

	.container,
	#header.full-header .container,
	.container-fullwidth {
		width: 100% !important;
		padding-left: 40px !important;
		padding-right: 40px !important;
	}

	#primary-menu-trigger { left: 20px; }

	#top-cart { display: none; }

	#top-search a { right: 40px; }

	#top-search form input { padding-right: 55px; }

	#side-panel-trigger { right: 68px; }

	#top-account { right: 68px; }

	#top-account a.btn {
		padding-left: 8px;
		padding-right: 8px;
	}

	#top-account a.btn i:last-child { display: none; }

	.swiper_wrapper:not(.force-full-screen),
	.swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide { height: 180px !important; }

	.swiper_wrapper .slider-caption h2 { font-size: 1.75rem; }

	.swiper_wrapper .slider-caption p { font-size: 1rem; }

	#header.transparent-header.floating-header .container {
		width: 310px;
		padding: 0 15px;
	}

	.portfolio-filter li { width: 50%; }

	.portfolio:not(.portfolio-1) { margin: 0; }

	.portfolio .portfolio-item {
		width: 100%;
		padding: 0;
	}

	.post-grid:not(.post-masonry) .entry-image iframe { height: 157px; }

	.mpost .entry-image {
		float: none;
		margin: 0 0 20px 0;
	}

	.mpost .entry-image,
	.mpost .entry-image a,
	.mpost .entry-image img,
	.mpost .entry-image i {
		width: 100%;
		height: auto;
	}

	.mpost .entry-image i {
		height: 150px;
		line-height: 150px;
	}

	.shop:not(.product-1) { margin: 0 !important; }

	.shop:not(.product-1) .product {
		margin: 0 0 20px 0;
		padding: 0;
		width: 100%;
	}

	.shop:not(.product-1) .product-title h3 { font-size: 19px; }

	.fslider:not(.flex-thumb-grid) .flex-control-nav.flex-control-thumbs { height: 45px; }

	.fslider:not(.flex-thumb-grid) .flex-control-nav.flex-control-thumbs li,
	.fslider:not(.flex-thumb-grid) .flex-control-nav.flex-control-thumbs li img {
		display: block;
		width: 60px !important;
		height: 45px !important;
	}

	.si-share span { display: none; }

	.parallax .entry-overlay-meta,
	.parallax .entry-overlay {
		left: 50% !important;
		right: 0 !important;
		margin: 0 0 0 -140px !important;
		width: 280px !important;
	}

	.parallax .entry-overlay { width: 288px !important; }

	.parallax .countdown-section {
		width: 64px;
		height: 64px;
		margin: 0 8px 0 0;
		font-size: 11px;
		padding: 0;
		padding-top: 12px;
	}

	.parallax .countdown-amount { font-size: 20px; }

	.countdown-large .countdown-section {
		display: block;
		width: auto;
		margin: 30px 0 0;
		border: 0;
	}

	.countdown-large .countdown-section:first-child { margin-top: 0; }

	.testi-image,
	.testi-image a,
	.testi-image img,
	.testi-image i {
		width: 36px;
		height: 36px;
	}

	.testi-image i {
		line-height: 36px;
		font-size: 20px;
	}

	.clients-grid:not(.grid-3):not(.grid-2) li,
	.clients-grid.grid-4 li,
	.clients-grid.grid-6 li { width: 50%; }

	.button.button-full { font-size: 16px; }

	.button.button-full i {
		top: 2px !important;
		margin-left: 3px !important;
	}

	.emphasis-title h1,
	.emphasis-title h2 { font-size: 40px !important; }

	.error404,
	.error404-wrap .error404 { font-size: 120px; }

	.landing-form-overlay { margin-left: -155px; }

	.button.button-desc {
		padding: 20px 17px;
		font-size: 15px;
		max-width: 100%;
	}

	.button.button-desc span { font-size: 11px; }

	.widget {
		font-size: 20px!important;
		line-height: 20px;
	}

	.social-icon {
		margin-right: -100px!important;
	}

}