/* ---------------------------------------------------------------------- */
/*	Basic Elements & Classes
/* ---------------------------------------------------------------------- */
body {
    direction: rtl;
}

.list-unstyled {
    padding-right: 0;
}

/* ---------------------------------------------------------------------- */
/*	Generic Classes
/* ---------------------------------------------------------------------- */

body {
    &.rtl {
        .close {
            float: left;
        }
    }
}
